/wandb
/scripts/__pycache__
/rocket_league_rl/rlgym_tools/rocket_league/reward_functions/__pycache__
/rocket_league_rl/rlgym_ppo/batched_agents/__pycache__
/rocket_league_rl/rlgym_ppo/__pycache__
/rocket_league_rl/rlgym_ppo/ppo/__pycache__
/rocket_league_rl/rlgym_ppo/util/__pycache__
/rocket_league_rl/rlgym_tools/rocket_league/reward_functions/__pycache__
rlviser.exe
settings.txt
/venv
